<body>
  <div class="gameheader">
    <h1> Welcome Gamer! </h1>
  </div>
  <div class="card-deck">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/images/{{image}}" alt="Game image">
      <div class="card-body">
        <p class="card-text">Share your gamer tag in the comments!</p>
      </div>
    </div>

    <div class="card">
      <div class="input-group mb-3">
        <label for="comment"> </label>
        <div class="card-body">
          <h5 class="card-title">Post Your Comment Here!</h5>
          <input type="text" class="form-control" placeholder="Comments" aria-label="Recipient's username"
            aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-dark" type="button" id="button-addon2">Post</button>
          </div>


          <p class="card-text"><small class="text-muted">Last update 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
<section
        id="notepad-container"
        style="margin-top: 16px; width: 100%; margin-right: 10px"
      >
        <form id="note-form">
          <h4>Add a note...</h4>
          <textarea
            id="note-input"
            style="width: 100%; margin-right: 10px"
            placeholder="Type here..."
          ></textarea>
          <button
            class="btn btn-light"
            id="submit-button"
            type="submit"
            value="submit"
          >
            Submit
          </button>
        </form>
        <button
          class="btn btn-light"
          id="clear-button"
          type="button"
          value="clear-button"
          style="margin-top: 12px;"
        >
          Clear Notes
        </button>
        <h3 id="notes-header" style="padding: 5px">Saved notes</h3>
        <ul id="saved-notes"></ul>
      </section>

  <script src="./js/comment.js"></script>
</body>