<<<<<<< HEAD

=======
<body>
<div class="row">
  <div class="col-md-6">
>>>>>>> 04a474a931a7c9e78afb89181e6169e68199a231

<body>
<div class="gameheader"><h1>Here's your game </h1></div>
<div class="card-deck">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/gtaV.jpeg" alt="Game image">
  <div class="card-body">
    <p class="card-text">Share your gamer tag in the comments!</p>
  </div>
  </div>


<div class="card">
  <div class="input-group mb-3">
  <label for="comment"> </label>
    <img class="card-img-top" src=".../100px200/" alt="Card image cap">
    <div class="card-body">
     <h5 class="card-title">Post Your Comment Here!</h5>
       <p class="card-text">comment goes here</p>
     <input type="text" class="form-control" placeholder="Comments" aria-label="Recipient's username" aria-describedby="button-addon2"> 
    <div class="input-group-append">
    <button class="btn btn-outline-dark" type="button" id="button-addon2">Post</button>
  </div>
    
    
      <p class="card-text"><small class="text-muted">Last update 3 mins ago</small></p>
    </div>
  </div>
</div>
</div>


 <script src="./js/comment.js"></script>   
</body>