
<body>
<div class="row">
  <div class="col-md-6">

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="./images/gtaV.jpeg" alt="Game image">
  <div class="card-body">
    <p class="card-text">Share your gamer tag in the comments!</p>
  </div>

<div class="input-group mb-3">
  <label for="comment">Comment:</label>
  <input type="text" class="form-control" placeholder="Comments" aria-label="Recipient's username" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-dark" type="button" id="button-addon2">Post</button>
  </div>
</div>


  </div>
  <div class="col-md-6">

 <script src="./js/comment.js"></script>   
</body>
