<!-- Loop over each object in the game array -->
{{#each games as |game| }}
<div class="card card-body">
  <h2>
    <a href="/game/{{game.id}}">{{game.name}}</a>
  </h2>
  <img src="/images/{{image}}" class="img-fluid" alt="game-img">
</div>
{{/each}}