
<!-- Loop over each object in the game array -->
{{#each games as |game| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/game/{{game.id}}">{{game.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="game">Game img</span>
    </p>
  </div>
</div>
{{/each}}
