<div class="container text-center my-3">
  <h2 class="font-weight-light">Browse Games</h2>
  <div class="row mx-auto my-auto">
    <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
      <div class="carousel-inner w-100" role="listbox">
        <div class="carousel-item active">
          <div class="col-md-4">
            <!-- Loop over each object in the game array -->
            {{#each games as |game| }}
            <div class="card card-body">
              <h2>
                <a href="/game/{{game.id}}">{{game.name}}</a>
              </h2>
              <img src="./images/{{image}}" class="img-fluid" alt="game-img">
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<script src="./js/carousel.js"></script>