<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-dark" type="submit" href="/">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <label for="console-signup">choose your console:</label>
      </div>

      <div class="form-group">

        <label class="radio-inline"><input id="xbox" type="radio" name="platform" value="X-Box" >X-Box</label>
        <label class="radio-inline"><input id="pc" type="radio" name="platform" value="PC" >PC</label>
        <label class="radio-inline"><input id="playstation" type="radio" name="platform" value="Play Station" >Play Station</label>
        <label class="radio-inline"><input id="nintendo" type="radio" name="platform" value="Nintendo" >Nintendo</label>

      </div>

      <div class="form-group">
        <button class="btn btn-dark" type="submit" href="/">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>