* {
  font-family: monospace;
  font-size: 20px;
  background-color: lightgray;

}

h2 {
  color: #343a40;
  text-align: center;
  font-family: monospace;
  font-size: 50px;
  margin-top: 50px;
}

#links {
  color: white;
}

.card-deck {
  padding-top: 40px;
  background-color: lightslategray;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
}

body {
  background-color: lightsteelblue;
}

.gameheader {
  color: black;
  font-family: monospace;
  text-align: center;
  background: grey;
  height: 80px;
  padding-top: 10px;
}


/* carousel */
@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}

form {
    border-radius: 7px;
    background-color: rgb(2, 2, 8);
    justify-content: center;
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    padding: 9px;
    border-style: solid;
    border-color: #343a40;
    border-width: 4px;
    color: white;
    font-size: 20px;
}
