* {
  background-color: gray;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h2 {
  color: orangered;
}

#links {
  color: white;
}

.card-deck {
  padding-top: 40px;
}

body {
  background-color: lightgray;
}

.gameheader {
  color: white;
  text-align: center;
  height: 50px;
  background: grey;
}
#container {
  border-radius: 6px;
  border-color: slateblue;
  background-color: slategrey;
}

/* carousel */
@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}

#navbar {
}
