* {
  font-family: monospace;
  font-size: 20px;
  color: white;
}

h2 {
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: 50px;
  margin-top: 50px;
}

#links {
  color: white;
}

.card-deck {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
}

.gameheader {
  color: black;
  font-family: monospace;
  text-align: center;
  height: 80px;
  padding-top: 10px;
}

form {
  border-radius: 7px;
  background-color: rgb(2, 2, 8);
  justify-content: center;
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-top: 30px;
  padding: 9px;
  border-style: solid;
  border-color: #343a40;
  border-width: 4px;
  color: white;
  font-size: 20px;
}

li {
  color: #343a40;
  list-style: square;
}

#notes-header {
  color: #343a40;
  margin-top: 10px;
}

#saved-notes {
  border: #343a40;
}

#note-input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-text {
  text-align: center;
  color: white;
}

.gamerz {
  color: white;
  font-size: 30px;
}

#notepad-container {
  color: #343a40;
}

.card {
  margin: auto;
}

body {
  background-image: url("../../images/gamerlogobkg.jpg");
  background-repeat: repeat;
}

.card-body {
background-color: rgb(2, 2, 8);
}

.card-title {
  background-color: rgb(2, 2, 8);
  color: white;
}
